

html {
  touch-action:none;
}
* {
//  -webkit-touch-callout:none;
//  -webkit-tap-highlight-color:rgba(0,0,0,0);
  box-sizing: border-box;
  user-select: none;
  margin:0;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  font-size:1.5vw;
}
*:focus {
  outline: none;
}



#root
{
  padding:2vw 10vw;
}
h1 {
  font-size:3vw;
  text-align: center;
}

#dragandrophandler
{
  border:2px dotted #0B85A1;
  width:100%;
  height:10vw;
  color:#92AAB0;
  text-align:left;
  vertical-align:middle;
  margin-bottom:1vw;
  font-size:2vw;
  text-align:center;
  line-height:10vw;
  border-radius: .5vw; 
}
.progressBar {
    width: calc(200/700 * 100%);
    height: 2.2vw;
    border: 1px solid #ddd;
    border-radius: .5vw; 
    overflow: hidden;
    display:inline-block;
    margin:0 1vw .5vw .5vw;
    vertical-align:top;
}
  
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 2.2vw; /* same as #progressBar height if we want text middle aligned */
    font-size:1vw;
    padding-right:.5vw;
    width: 0;
    height:3vw;
    background-color: #0ba1b5;
    border-radius: 0.3vw; 
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:2.5vw;
    width:100%;
    padding:1vw 1vw 0 1vw;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;
width:calc(250/700 * 100%);
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
width:calc(100/700 * 100%);
margin-left:1vw;
margin-right:0.5vw;
}
.abort{
  background-color:#A8352F;
  border-radius:.4vw;
  display:inline-block;
  color:#fff;
  font-family:arial;
  font-size:1vw;
  font-weight:normal;
  padding:.4vw 1.5vw;
  cursor:pointer;
  vertical-align:top
}

#filelist {
  width: 100%;
  margin-bottom: 1vw;

  >div
  {
    border:1px solid #A9CCD1;
    border-radius:.4vw;
    margin-bottom:.2vw;
    min-height:2.5vw;
    width:100%;
    padding:1vw 1vw 0 1vw;
    vertical-align:top;
    position: relative;

    img {
      width:20vw;
    }
    video {
      width:20vw;
    }
    >span {
      margin-left:1vw;
    }
    >div {
      position:absolute;
      right:.5vw;
      bottom:.5vw;

      input {
        width:5vw;
        text-align:right;
        margin-right:.2vw;
      }
    }
    button {
      display: block;
      position:absolute;
      right:.5vw;
      top:.5vw;
      background-color: #fff;
      width:2vw;
      height:2vw;
      line-height: 2vw;
      text-align:center;
      border:1px solid #A9CCD1;
      color:#A9CCD1;
      border-radius:1vw;
      text-indent:-5vw;
      overflow: hidden;

      &::after{
        content: '';
        display:block;
        width:1vw;
        height:2px;
        background-color: #A9CCD1;
        position:absolute;
        top:calc(1vw - 1px);
        left:calc(.5vw - 1px);
        transform: rotate(45deg);
      }
      &::before{
        content: '';
        display:block;
        width:1vw;
        height:2px;
        background-color: #A9CCD1;
        position:absolute;
        top:calc(1vw - 1px);
        left:calc(.5vw - 1px);
        transform: rotate(-45deg);
      }

      &:hover{
        background-color: #A9CCD1;
        color:#fff;

        &::after{
          background-color: #fff;
        }
        &::before{
          background-color: #fff;
        }
      }
    }
  }
  .video{
    background:#EBEFF0;
  }
  .image{
    background:#fcfcfc;
  }

}
#root > button {
  width: 100%;
}
